[Unit]
Description=mjolnir bot
After=synapse.target

[Service]
CapabilityBoundingSet=
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /opt/mjolnir/lib/index.js
IPAddressDeny=any
IPAddressAllow=localhost
IPAddressAllow=152.53.39.88
IPAddressAllow=2a0a:4cc0:2000:dbc::1
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
PrivateUsers=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/mjolnir
RemoveIPC=yes
Restart=always
RestartMaxDelaySec=10s
RestartSec=100ms
RestartSteps=5
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@pkey @system-service
SystemCallFilter=~@obsolete @privileged @resources
UMask=0077
User=mjolnir
WorkingDirectory=/var/lib/mjolnir

[Install]
WantedBy=multi-user.target
