[Unit]
Description=Perform remote backup

[Service]
CapabilityBoundingSet=CAP_DAC_READ_SEARCH
CPUSchedulingPolicy=batch
ExecStart=/usr/local/bin/remote-backup
IOSchedulingPriority=7
LockPersonality=yes
MemoryDenyWriteExecute=yes
Nice=19
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
Type=oneshot
UMask=0077
User=root
WorkingDirectory=/root
