name: Lint nginx configuration

on: [pull_request, push]

jobs:
  static:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: pip
    - run: 'pip install --require-hashes --only-binary :all: -r requirements.txt'
    - run: gixy --add-header-redefinition-headers x-frame-options,x-content-type-options,x-xss-protection,content-security-policy,cache-control --skips regex_redos nginx/nginx.conf
